<md-button class="md-sidemenu-button md-accent" ui-sref="{{$mdSidemenuButton.uiSref}}" ng-if="$mdSidemenuButton.uiSref">
    <div layout="row">
        <md-icon ng-if="$mdSidemenuButton.icon">{{ $mdSidemenuButton.icon }}</md-icon>
        <span flex>{{ $mdSidemenuButton.heading }}</span>
    </div>
    <div layout="row" layout-fill layout-align="start center" ng-transclude></div>
</md-button>

<md-button class="md-sidemenu-button md-accent" ng-if="!$mdSidemenuButton.uiSref">
    <div layout="row">
        <md-icon ng-if="$mdSidemenuButton.icon">{{ $mdSidemenuButton.icon }}</md-icon>
        <span flex>{{ $mdSidemenuButton.heading }}</span>
    </div>
    <div layout="row" layout-fill layout-align="start center" ng-transclude></div>
</md-button>


