@font-face {
  font-family: ZFSansBold;
  src: url("/assets/fonts/ZFSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: ZFSansLight;
  src: url("/assets/fonts/ZFSans-Light.otf") format("opentype");
}

@font-face {
  font-family: ZFSansMedium;
  src: url("/assets/fonts/ZFSans-Medium.otf") format("opentype");
}