<md-content layout="column" class="pdl-60 pdr-60 pdt-30">

    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.back()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

    <h1>{{vm.title}}</h1>

    <div ng-repeat="field in vm.fields">

        <crud-input ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" options="field.config" ng-if="field.type == undefined"></crud-input>
        <crud-text ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" options="field.config" ng-if="field.type == 'text'"></crud-text>
        <crud-checkbox ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" options="field.config" ng-if="field.type == 'checkbox'"></crud-checkbox>
        <crud-select ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" options="field.config" values="field.config.values" ng-if="field.type == 'select'"></crud-select>
        <crud-file ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" container="{{field.config.container}}" options="field.config" ng-if="field.type == 'file'"></crud-file>
        <led-preview  label="{{field.config.label || field.name}}" entity="vm.entity" ng-if="field.type == 'ledpreview'" options="field.config"></led-preview>
    </div>

    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.back()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>