<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>New ZpMedia</h1>
    
    <md-input-container class="" flex-gt-sm>
        <label>type</label>
        <md-select ng-model="vm.entity.type">
            <md-option value="video">video</md-option>
            <md-option value="audio">audio</md-option>
        </md-select>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>title</label>
        <input ng-model="vm.entity.title" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>description</label>
        <textarea ng-model="vm.entity.description" required></textarea>
    </md-input-container>
    
    <md-input-container class="md-block pd-left-0" flex-gt-sm>
        <label class="left-0">src</label>
        <file-selector ng-model="vm.entity.src" container="videos" type="audio"></file-selector>
    </md-input-container>
    
    <md-input-container class="md-block pd-left-0" flex-gt-sm>
        <label class="left-0">thumb</label>
        <file-selector ng-model="vm.entity.thumb" container="images" type="image"></file-selector>
    </md-input-container>
    

    <md-card-actions layout="row">
        <md-button class="md-raised" ui-sref="admin.ZpMedia-list">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>