<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>Edit ZpArtikelMedia</h1>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DE">
            <md-content class="pd-top-20">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="vm.entity.publish" aria-label="Publish">
                        Publizieren
                    </md-checkbox>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>zpArtikelId</label>
                    <input ng-model="vm.entity.zpArtikelId" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>type</label>
                    <input ng-model="vm.entity.type" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>src</label>
                    <input ng-model="vm.entity.src" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>thumb</label>
                    <input ng-model="vm.entity.thumb" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ranking</label>
                    <input ng-model="vm.entity.ranking" required>
                </md-input-container>
                
            </md-content>
        </md-tab>

        <md-tab label="EN">
            <md-content class="pd-top-20">
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>type</label>
                <input ng-model="vm.translation.type" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>src</label>
                <input ng-model="vm.translation.src" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>thumb</label>
                <input ng-model="vm.translation.thumb" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>ranking</label>
                <input ng-model="vm.translation.ranking" required>
            </md-input-container>
            
            </md-content>
        </md-tab>

    </md-tabs>


    <md-card-actions layout="row">
        <span flex></span>
        <!--md-button class="md-raised" ui-sref="admin.ZpArtikelMedia-list({belongsToEntity: vm.$stateParams.belongsToEntity})">Zurück</md-button-->
        <md-button class="md-raised" ui-sref="admin.ZpArtikelMedia-list({belongsToEntity: vm.$stateParams.belongsToEntity})">Zurück</md-button>

        <md-button class="md-raised" ui-sref="admin.ZpArtikelMedia-list({belongsToEntity: vm.$stateParams.belongsToEntity})">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>