<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app" flex layout="column">

    <!-- admin toolbar -->
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggleLeft()">
                <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>{{'app.title' | translate}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <!--md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon-->
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <!--md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon-->
            </md-button>
        </div>
    </md-toolbar>

    <!-- admin menu -->
    <div layout="row" flex>
        <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="vm.gotoImages()">{{ 'files.images' | translate }}</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.gotoVideos()">{{ 'files.videos' | translate }}</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">{{ 'app.logout' | translate }}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-sidenav>

        <!-- admin content-->
        <div ui-view class="content"></div>

    </div>

</div>

