<div class="login">
    <div class="login-card">
    <md-card>
        <form name="loginForm" data-ng-submit="vm.login()">

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{'LOGIN' | translate}}</h2>
                    <span flex></span>
                    <md-button type="button" class="md-icon-button" ng-click="vm.handleCancel(); $event.stopPropagation();">
                        <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-card-content>
                <div class="error-msg" ng-show="vm.loginFail">{{'LOGIN_FAIL' | translate}}</div>
                <div class="md-dialog-content pd-50">
                    <md-input-container class="md-block">
                        <label>{{'USERNAME' | translate}}:</label>
                        <input ng-model="vm.username" required>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{'PASSWORD' | translate}}:</label>
                        <input ng-model="vm.password" type="password" required>
                    </md-input-container>
                </div>
            </md-card-content>

            <md-card-actions layout="row">
                <span flex></span>
                <md-button class="md-primary"
                           type="submit"
                           ng-class="{'md-raised': (loginForm.$dirty && loginForm.$valid) }"
                           aria-label="OK">
                    {{'LOGIN' | translate}}
                </md-button>
            </md-card-actions>

        </form>
    </md-card>
    </div>
</div>