<md-dialog aria-label="Mango (Fruit)" class="file-uploader">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Hochladen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="container">
            <div class="md-dialog-content">
                <md-progress-linear md-mode="indeterminate" ng-show="vm.uploading"></md-progress-linear>
                <div class="previewContainer" ng-show="vm.showPreviewImage"><img id="imagePreview" src=""></div>

                <div class="warningMessage" ng-show="vm.showWarningImageSize">
                    <h3>Die grösse des Bildes von {{vm.imgWidth}} x {{vm.imgHeight}} px ist leider zu gross.</h3>
                    Bitte beachten Sie dass die maximale Grösse von {{vm.maxWidth}} x {{vm.maxHeight}} px nicht überschritten wird.
                </div>

                <div class="warningMessage" ng-show="vm.showWarningFileTypes">
                    <h3>Ungültige Datei. Es können nur folgende Dateitypen hochgeladen werden</h3>
                    jpg, png, gif, mp3, mp4
                </div>

                <div class="pd-50">
                    <input type="file" file-model="fileToUpload" onchange="angular.element(this).scope().onFileChanged()"/>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()" ng-disabled="vm.uploading">Abbrechen</md-button>
            <md-button ng-click="vm.upload()" ng-disabled="vm.blockSubmit">Hochladen</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>