<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>{{vm.title}}</h1>
    <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="DE">
            <md-content class="pd-top-20">
                <div ng-repeat="field in vm.fields">
                    <crud-input ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == undefined" options="field.config"></crud-input>
                    <crud-text ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == 'text'" options="field.config"></crud-text>
                    <crud-wysiwyg ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == 'wysiwyg'" options="field.config"></crud-wysiwyg>

                    <crud-checkbox ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == 'checkbox'" options="field.config"></crud-checkbox>
                    <crud-select ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" values="field.config.values" ng-if="field.type == 'select'" options="field.config"></crud-select>
                    <crud-file ng-model="vm.entity[field.name]" label="{{field.config.label || field.name}}" container="{{field.config.container}}" options="field.config" ng-if="field.type == 'file'"></crud-file>
                    <led-preview  label="{{field.config.label || field.name}}" entity="vm.entity" ng-if="field.type == 'ledpreview'" options="field.config"></led-preview>
                </div>
            </md-content>
        </md-tab>


        <md-tab label="EN">
            <md-content class="pd-top-20">
                <div ng-repeat="field in vm.translationFields">
                    <crud-input ng-model="vm.translation[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == undefined" options="field.config"></crud-input>
                    <crud-text ng-model="vm.translation[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == 'text'" options="field.config"></crud-text>
                    <crud-checkbox ng-model="vm.translation[field.name]" label="{{field.config.label || field.name}}" ng-if="field.type == 'checkbox'" options="field.config"></crud-checkbox>
                    <crud-select ng-model="vm.translation[field.name]" label="{{field.config.label || field.name}}" values="field.config.values" ng-if="field.type == 'select'" options="field.config"></crud-select>
                    <crud-file ng-model="vm.translation[field.name]" label="{{field.config.label || field.name}}" container="{{field.config.container}}" options="field.config" ng-if="field.type == 'file'" ></crud-file>
                </div>
            </md-content>
        </md-tab>

    </md-tabs>

    <md-input-container class="md-block" ng-repeat="link in vm.hasManyLinks">
        <md-button class="md-raised md-primary" ng-click="vm.gotoHasManyRelation(link)">{{link.config.label || link.model}}</md-button>
    </md-input-container>

    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.back()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>