<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bild Auswahl</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-radio-group ng-model="vm.selectedFile">
                    <md-radio-button ng-repeat="file in vm.files"
                                     ng-value="file.name"
                                     aria-label="{{file.name}}">
                        <md-icon>image</md-icon>{{file.name}}
                    </md-radio-button>
                </md-radio-group>


            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.answer('not useful')">
                Abbrechen
            </md-button>
            <md-button ng-click="vm.answer('useful')">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>