<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app" flex layout="column">

    <!-- admin toolbar -->
    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <!--md-button class="md-icon-button" aria-label="Settings" ng-click="">
                <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
            </md-button-->
            <h2>
                <span>{{'txt.cmsTitle' | translate}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <!--md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon-->
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <!--md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon-->
            </md-button>
        </div>
    </md-toolbar>

    <!-- admin menu -->
    <div layout="row" flex>

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1" layout="column">
            <md-content md-scroll-y flex layout="column">
                <md-sidemenu md-locked="true">

                    <md-sidemenu-group>
                        <md-sidemenu-content md-icon="remove_red_eye" md-heading="Soziale Verantwortung" md-arrow="true" >
                            <md-sidemenu-button md-icon="folder_open" md-heading="ZF Hilft" ui-sref="admin.crud-edit({model: 'SvZfhilft', id: '1',  prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Hilfsprojekte" ui-sref="admin.crud-list({model: 'SvZfhilftProject', filter: null, prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Kunststiftung" ui-sref="admin.crud-edit({model: 'SvKunststiftung', id: '1', filter: null, prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Stiftung" ui-sref="admin.crud-edit({model: 'SvStiftung', id: '1', filter: null, prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Stipendiaten" ui-sref="admin.crud-edit({model: 'SvStipendiaten', id:'1', filter: null, prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Musikpreis" ui-sref="admin.crud-edit({model: 'SvMusikpreis', id: '1', filter: null, prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Kultur" ui-sref="admin.crud-edit({model: 'SvKultur', id: '1', filter: null, prevTitle: null})"></md-sidemenu-button>

                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <md-sidemenu-group>
                        <md-sidemenu-content md-icon="watch" md-heading="Zukunft Projekte" md-arrow="true" >
                            <md-sidemenu-button md-icon="folder_open" md-heading="Work" ui-sref="admin.crud-list({model: 'ZpArtikel', title: 'Work', prevTitle: null, filter: 'zpStationId=1'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Mobility" ui-sref="admin.crud-list({model: 'ZpArtikel', title: 'Mobility', prevTitle: null, filter: 'zpStationId=2'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Living" ui-sref="admin.crud-list({model: 'ZpArtikel', title: 'Living', prevTitle: null, filter: 'zpStationId=3'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Energy and Ecology" ui-sref="admin.crud-list({model: 'ZpArtikel', title: 'Energy and Ecology', prevTitle: null, filter: 'zpStationId=4'})"></md-sidemenu-button>

                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <md-sidemenu-group>
                        <md-sidemenu-content md-icon="personal_video" md-heading="Film Vertiefung" md-arrow="true" >
                            <md-sidemenu-button md-icon="folder_open" md-heading="Work" ui-sref="admin.crud-list({model: 'ZpMedia', title: 'Work', prevTitle: null, filter: 'zpStationId=1'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Mobility" ui-sref="admin.crud-list({model: 'ZpMedia', title: 'Mobility', prevTitle: null, filter: 'zpStationId=2'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Living" ui-sref="admin.crud-list({model: 'ZpMedia', title: 'Living', prevTitle: null, filter: 'zpStationId=3'})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Energy" ui-sref="admin.crud-list({model: 'ZpMedia', title: 'Energy', prevTitle: null, filter: 'zpStationId=4'})"></md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <md-sidemenu-group>
                        <md-sidemenu-content md-icon="remove_red_eye" md-heading="Auf Einem Blick" md-arrow="true" >
                            <md-sidemenu-button md-icon="folder_open" md-heading="Dynamisch Wachsen" ui-sref="admin.crud-edit({model: 'EbCategory', id: '1', filter: null, title: 'Dynamisch Wachsen', prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Konsequent Vordenken" ui-sref="admin.crud-edit({model: 'EbCategory', id:'2', filter: null, title: 'Konsequent Vordenken', prevTitle: null})"></md-sidemenu-button>
                            <md-sidemenu-button md-icon="folder_open" md-heading="Individuell Fördern" ui-sref="admin.crud-edit({model: 'EbCategory', id: '3', filter: null, title: 'Individuell Fördern', prevTitle: null})"></md-sidemenu-button>

                        </md-sidemenu-content>
                    </md-sidemenu-group>

                    <md-sidemenu-group>
                        <md-sidemenu-button md-icon="folder_open" md-heading="LED Ring" ui-sref="admin.crud-list({model: 'LedPool', filter: null, prevTitle: null, title: null})"></md-sidemenu-button>
                    </md-sidemenu-group>

                   <md-sidemenu-group>
                       <md-sidemenu-button md-icon="backspace" md-heading="Logout" ng-click="vm.logout()"></md-sidemenu-button>
                   </md-sidemenu-group>


                </md-sidemenu>
            </md-content>
        </md-sidenav>

        <!-- admin content-->
        <div ui-view class="content"></div>

    </div>

</div>

