
.bio-preview {

  font-size: 52.61538461538462px;


  #Personen-Wrapper{
    padding: 25px;
    background-color: rgb(36, 36, 36);
    width: auto;
    overflow-x: scroll;
  }

  #PersonenDetailContainer{
    background-color: rgb(36, 36, 36);
    width: 1260px;
    height: auto;
    color: white;
    transform-origin: left top;
    font-family: ZFSansMedium;
  }


  #personen-text{
    columns: 2;
    column-gap: 52.61538461538462px;
    column-fill: auto;
    font-size: 18.468px;
    line-height: 25.992px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    letter-spacing: 0.4617px;
  }

  #personen-text h3{
    font-size: 25.992px;
    line-height: 38.98800000000001px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    letter-spacing: 0.6498px;
  }
}