<div class="files" layout="column">
    <div class="row">
        <h1>Files / List</h1>
    </div>

    <div class="row">
        <md-table-container>
            <table md-table md-row-select multiple="true" ng-model="vm.selectedFiles">
                <thead md-head md-order="vm.query.order" md-on-reorder="vm.getFiles">
                    <tr md-row>
                        <th md-column md-order-by="name"><span>Name</span></th>
                        <th md-column><span>Action</span></th>
                    </tr>
                </thead>
                <trbody md-body>
                    <tr md-row ng-repeat="file in vm.files.data | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1)*vm.query.limit" md-select="file" md-auto-select="true" md-select-id="name">
                        <td md-cell >{{file.name}}</td>
                        <td md-cell layout="row">
                            <md-button class="md-raised md-primary" ng-click="vm.deleteFile(file)">Edit</md-button>
                            <md-button class="md-raised md-warn" ng-click="vm.deleteFile(file)">Delete</md-button>
                        </td>
                    </tr>
                </trbody>

            </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.files.count}}" md-on-paginate="getFiles" md-page-select></md-table-pagination>
    </div>

    <div class="row">
        <md-button class="md-raised md-primary" ng-click="vm.gotoState('fileupload')">New</md-button>
    </div>
</div>