<div class="files" layout="column">


        <md-toolbar class="md-table-toolbar alternate">
            <div class="md-toolbar-tools"><span>Files / Upload</span></div>
        </md-toolbar>
        <div class="pd-50"><input type="file" file-model="myFile" /></div>
        <div class="row" layout="row">
            <md-button class="md-raised" ng-click="vm.gotoList()">List</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.upload()" >Upload</md-button>
        </div>


    <!--div class="row">
        <md-progress-circular md-mode="determinate" value="50"></md-progress-circular>
    </div-->

</div>