<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>New ZpArtikel</h1>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>stationId</label>
        <input ng-model="vm.entity.zpStationId" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>headline</label>
        <input ng-model="vm.entity.headline" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>teaserText</label>
        <input ng-model="vm.entity.teaserText" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>mainText</label>
        <input ng-model="vm.entity.mainText" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>ranking</label>
        <input ng-model="vm.entity.ranking" required>
    </md-input-container>
    

    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ui-sref="admin.ZpArtikel-list">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>