<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>Edit ZpArtikel</h1>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DE">
            <md-content class="pd-top-20">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="vm.entity.publish" aria-label="Publish">
                        Publizieren
                    </md-checkbox>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>stationId</label>
                    <input ng-model="vm.entity.zpStationId" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>headline</label>
                    <input ng-model="vm.entity.headline" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>teaserText</label>
                    <input ng-model="vm.entity.teaserText" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>mainText</label>
                    <input ng-model="vm.entity.mainText" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ranking</label>
                    <input ng-model="vm.entity.ranking" required>
                </md-input-container>
                
            </md-content>
        </md-tab>

        <md-tab label="EN">
            <md-content class="pd-top-20">
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>stationId</label>
                <input ng-model="vm.translation.stationId" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>headline</label>
                <input ng-model="vm.translation.headline" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>teaserText</label>
                <input ng-model="vm.translation.teaserText" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>mainText</label>
                <input ng-model="vm.translation.mainText" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>ranking</label>
                <input ng-model="vm.translation.ranking" required>
            </md-input-container>
            
            </md-content>
        </md-tab>

    </md-tabs>

    <md-input-container class="md-block" flex-gt-sm>
        <md-button ui-sref="admin.ZpArtikelMedia-list({belongsToEntity: vm.entity})">Zu den Medien</md-button>
    </md-input-container>


    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.goBack()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>