<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>Edit EbContent</h1>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DE">
            <md-content class="pd-top-20">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="vm.entity.publish" aria-label="Publish">
                        Publizieren
                    </md-checkbox>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>title</label>
                    <input ng-model="vm.entity.title" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>text</label>
                    <input ng-model="vm.entity.text" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>longText</label>
                    <input ng-model="vm.entity.longText" required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ranking</label>
                    <input ng-model="vm.entity.ranking" required>
                </md-input-container>
                
            </md-content>
        </md-tab>

        <md-tab label="EN">
            <md-content class="pd-top-20">
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>title</label>
                <input ng-model="vm.translation.title" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>text</label>
                <input ng-model="vm.translation.text" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>longText</label>
                <input ng-model="vm.translation.longText" required>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>ranking</label>
                <input ng-model="vm.translation.ranking" required>
            </md-input-container>
            
            </md-content>
        </md-tab>

    </md-tabs>


    <md-card-actions layout="row">
        <md-button class="md-raised" ng-click="vm.goBack()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>