<div class="files" layout="column">


        <md-toolbar class="md-table-toolbar alternate">
            <div class="md-toolbar-tools"><span>{{'files.title' | translate}} / {{'files.upload' | translate}}</span></div>
        </md-toolbar>
        <div class="pd-50"><input type="file" file-model="myFile" /></div>

        <md-card-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="vm.gotoList()">{{'files.list' |translate}}</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.upload()" >{{'files.upload' | translate}}</md-button>
        </md-card-actions>


    <!--div class="row">
        <md-progress-circular md-mode="determinate" value="50"></md-progress-circular>
    </div-->

</div>