<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>New ZpArtikelMedia</h1>

    <md-input-container class="md-block" flex-gt-sm>
        <label>zpArtikelId</label>
        <input ng-model="vm.entity.zpArtikelId" required>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>type</label>
        <input ng-model="vm.entity.type" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>src</label>
        <input ng-model="vm.entity.src" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>thumb</label>
        <input ng-model="vm.entity.thumb" required>
    </md-input-container>
    
    <md-input-container class="md-block" flex-gt-sm>
        <label>ranking</label>
        <input ng-model="vm.entity.ranking" required>
    </md-input-container>
    

    <md-card-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ui-sref="admin.ZpArtikelMedia-list({belongsToEntity: vm.$stateParams.belongsToEntity})">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>