<md-content layout="column" class="pdl-60 pdr-60 pdt-30">
    <h1>{{vm.title}}</h1>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Bild</label>
        <file-selector ng-model="vm.image" container="images"></file-selector>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <md-checkbox ng-model="vm.asLogo" aria-label="Checkbox 1">
            Bild als Logo verwenden.
        </md-checkbox>
    </md-input-container>

    <md-card-actions layout="row">
        <md-button class="md-raised" ng-click="vm.goBack()">Zurück</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()">Speichern</md-button>
    </md-card-actions>

</md-content>