<div class="zf-hilft">

    <!-- Toolbar -->
    <md-toolbar class="md-table-toolbar md-primary md-hue-2">
        <div class="md-toolbar-tools"><span>ZF Hilft</span></div>
    </md-toolbar>

    <md-content layout-padding class="pdl-60" style="width: 680px">

        <md-input-container class="md-block" flex-gt-sm></md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Titel</label>
            <input ng-model="vm.firstName" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Slug</label>
            <input ng-model="vm.lastName" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Description...</label>
            <textarea ng-model="vm.description" required></textarea>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Intro Text</label>
            <textarea ng-model="vm.introText" required></textarea>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="vm.userState">
                <md-option><em>Nada</em></md-option>
                <md-option ng-value="1">1</md-option>
                <md-option ng-value="2">2</md-option>
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container>
            <h2>Übersetzungen EN</h2>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Titel</label>
            <input ng-model="vm.firstName">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Description...</label>
            <textarea ng-model="vm.description"></textarea>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Intro Text</label>
            <textarea ng-model="vm.introText"></textarea>
        </md-input-container>



        <md-card-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="">Speichern</md-button>
        </md-card-actions>

    </md-content>
</div>