

.led-preview {

  font-family: ZFSansBold;
  overflow: hidden;
  margin-bottom: 50px;

  .textbox{
    color: white;
    background-color: black;
    height: 28.5px;
    padding-left: 10px;
    font-size: 23px;
    white-space: pre;
  }

  #center{
    height: 57px;
    font-size: 64px;
    line-height: 59px;
  }

  #container{
    width: 0px;
    height: 57px;
    display: flex;
    flex-flow: column wrap;
  }

  #upperLeft{

  }

  #lowerRight{
    padding-right: 10px;
  }

  #upperRight{
    padding-right: 10px;
  }

  .ruler {
    position: absolute;
    width: 100%;
    top: 2px;
    left: 448px;
    height: 57px;
    background-color: #FFFFFF;
    opacity: 0.8;
  }


}